<h2 class="bg-info p-3">
    Products Management
</h2>

<div class="form-group">
    <label for="pName"><strong>Product Name</strong></label>
    <input type="text" id="pName" [(ngModel)]="pName" class="form-control">
</div>
<div class="form-group">
    <label for="pName"><strong>Product Details</strong></label>
    <input type="text" id="pName" [(ngModel)]="pDetails" class="form-control">
</div>
<div class="form-group">
    <input type="button" mat-button value="Order Now" (click)="onProductOrder('Your Order Successfully Placed...!', 'Ok')" class="btn btn-primary">
    <!-- <button class="btn btn-info" mat-stroked-button (click)="openSnackBar('Your Order Successfully Placed...!')">Show Snack-Bar</button> -->
</div>

<p>
    <strong> {{snakMsg}} </strong>
</p>